{% extends 'base.html.twig' %}

{% block title %}Ajout d'un client
{% endblock %}

{% block body %}
    <div class="page-wrapper">
        <h1 class="page-title">Création d'un client</h1>
        {{ form_start(form) }}
        {{ form_row(form.firstName) }}
        {{ form_row(form.lastName) }}
        {{ form_row(form.email) }}
        {{ form_row(form.phoneNumber) }}
        {{ form_row(form.billingAddress) }}

        <button type="submit" class="btn btn-primary btn-lg self-center w-fit">Créer</button>
        {{ form_end(form) }}

        <a href="{{ path('app_client_list') }}" class="underline">back to list</a>
    </div>
{% endblock %}
