{% extends '/admin/adminBase.html.twig' %}

{% block title %}Créer un nouvel utilisateur
{% endblock %}

{% block body %}
	<div class="page-wrapper">
		<h1 class="page-title">Création d'un utilisateur</h1>
		{{ form_start(form) }}
		{{ form_row(form.email) }}
		{{ form_row(form.roles) }}
		{{ form_row(form.password) }}
		{{ form_row(form.firstname) }}
		{{ form_row(form.lastname) }}
		{{ form_row(form.company) }}

		<button type="submit" class="btn btn-primary btn-lg self-center w-fit">Ajouter</button>
		{{ form_end(form) }}
	</div>
{% endblock %}
