{% extends '/admin/adminBase.html.twig' %}

{% block title %}Modifier un utilisateur
{% endblock %}


{% block body %}
	<h1>Modifier un utilisateur</h1>

	{{ form_start(form) }}
	{{ form_row(form.email) }}
	{{ form_row(form.roles) }}
	{{ form_row(form.firstname) }}
	{{ form_row(form.lastname) }}

	<button type="submit">Modifier</button>
	{{ form_end(form) }}

	<a href="{{ path('acceuil_admin_users') }}">Retour à la liste des utilisateurs</a>
	<br>
	<form method="post" action="{{ path('admin_user_send_email', {'id': userId}) }}">
		<input type="hidden" name="_token" value="{{ csrf_token('resetPwdRequest' ~ userId) }}">
		<button class="btn">Envoyer un mail pour réinitialiser le mot de passe</button>
	</form>

{% endblock %}
