{# parameters: data: liste d'entité ; title: titre du header ; entityProperties: liste clé valeur ex == [['propertyName']-> 'Titre de la colonne']#}
<article class="tableContent">
	<table class="shadow-lg bg-white border-collapse">
		<thead>
			<H1>{{ title }}</H1>
		</thead>
		<tbody>
			<tr>
				{% for titleProperty in entityProperties %}
					<th class="bg-blue-100 border text-left px-8 py-4">{{ titleProperty }}</th>
				{% endfor %}
			</tr>
			{% for data in datas %}
				<tr class="hover:bg-gray-50">
					{% for key, titleProperty in entityProperties %}
						<td class="border px-8 py-4">
							{% if key == 'actions' %}
								{% for action in attribute(data, key) %}
									{% if action.type == 'button' %}
										<a href="{{ path(action.path, {'id': data.id}) }}" class="btn btn-primary">{{ action.label }}</a>
									{% endif %}

									{% if action.type == 'form' %}
										<form method="post" action="{{ path(action.path, {'id': data.id}) }}">
											<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ data.id) }}">
											<button class="btn">{{ action.label}}</button>
										</form>
									{% endif %}
								{% endfor %}
							{% else %}
								{{ attribute(data, key) }}
							{% endif %}
						</td>
					{% endfor %}
				</tr>
			{% endfor %}
		</tbody>
	</table>
</article>
