<header class="bg-secondary">
    <nav class="sm:w-full lg:max-w-screen-lg m-auto main-nav relative flex sm:flex-col lg:flex-row items-center h-16 text-white [&>*]:transition-all">
        <div class="flex-1 flex items-center justify-start text-2xl">
            <img src="{{asset('assets/images/techcareLogo.png')}}"  style="width:40%; max-width:300px;">
            <a href="{{ path('default_index') }}" class="flex items-center h-full">
                <h1>TECH CARE</h1>
            </a>
        </div>
        <span class="menu-burger lg:hidden absolute right-0 top-0 z-10">
            <svg width="64" height="65" viewBox="0 0 64 65" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M53.3333 19.1667H10.6667M53.3333 32.5H10.6667M53.3333 45.8333H10.6667" stroke="white" stroke-width="1.5" stroke-linecap="round"></path>
            </svg>
        </span>
        <ul class="sm:absolute lg:relative sm:-left-full lg:left-0 sm:top-0 sm:bg-secondary lg:bg-none sm:flex-col lg:flex-row sm:h-screen lg:h-max sm:w-full lg:w-auto flex items-center flex-2 text-center [&>*]:transition-all">
            <li class="flex items-center justify-center text-2xl text-white h-16 lg:hidden sm:mb-8">
                <a href="{{ path('default_index') }}" class="flex items-center h-full">
                    <h1>TECH CARE</h1>
                </a>
            </li>
            {% set continue = false %}
            {% for item in menuItems %}
                {% if not is_granted('ROLE_COMPANY') and item.route == 'app_products_manager' %}
                    {% set continue = true %}
                {% elseif not is_granted('ROLE_ADMIN') and item.route == 'accueil_admin_users' %}
                    {% set continue = true %}
                {% else %}
                    {# items avec sous menus #}
                    {% if item.route == '' %}
                        {#  sur grand écran on affiche un menu déroulant #}
                        <li class="group sm:hidden lg:flex flex-col lg:flex-1 lg:h-16 justify-center items-center relative hover:bg-accent w-full">
                            <span class="w-full h-full lg:leading-16">{{ item.label }}</span>
                            <ul class="flex-col absolute -top-16 group-hover:top-16 w-full h-auto bg-secondary hidden group-hover:flex [&>*]:transition-all">
                                {% for subItem in item.children %}
                                    <li class="flex justify-center items-center lg:flex-1 sm:h-12 lg:h-16 hover:bg-accent w-full">
                                        <a href="{{ path(subItem.route) }}" class="h-full w-full sm:leading-12 lg:leading-16">{{ subItem.label }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                        {# sur petit écran on affiche les items directement #}
                        {% for subItem in item.children %}
                            <li class="lg:hidden sm:flex justify-center items-center lg:flex-1 sm:h-12 lg:h-16 hover:bg-accent w-full">
                                <a href="{{ path(subItem.route) }}" class="h-full w-full sm:leading-12 lg:leading-16">{{ subItem.label }}</a>
                            </li>
                        {% endfor %}
                    {% else %}
                        <li class="flex justify-center items-center lg:flex-1 sm:h-12 lg:h-16 hover:bg-accent w-full">
                            <a href="{{ path(item.route) }}" class="h-full w-full sm:leading-12 lg:leading-16">{{ item.label }}</a>
                        </li>
                    {% endif %}
                {% endif %}
            {% endfor %}
            <li class="flex justify-center items-center lg:flex-1 sm:h-12 lg:h-16 w-full">{{ include('_components/darkMode.html.twig') }}</li>
        </ul>
    </nav>
</header>
