{% extends 'base.html.twig' %}

{% block title %}Modifier un produit:
{% endblock %}

{% block body %}

	{{ form_start(form) }}
	{{ form_row(form.name) }}
	{{ form_row(form.brand) }}
	{{ form_row(form.productCategory) }}
	{{ form_row(form.release_year) }}

	<button type="submit">Modifier</button>
	{{ form_end(form) }}

	<a href="{{ path('app_products_manager') }}">back to list</a>
{% endblock %}
